<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".OfflineDatabase"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCoaching"
        tools:targetApi="31">
        <activity
            android:name=".tube.TubeActivity"
            android:exported="false" />
        <activity
            android:name=".solvequestionactivity.UploadSolveActivity"
            android:exported="false"
            android:parentActivityName=".solvequestionactivity.QuestionSolveActivity" />
        <activity
            android:name=".questionactivity.QuestionViewActivity"
            android:exported="false"
            android:parentActivityName=".questionactivity.ExamQuestionActivity" />
        <activity
            android:name=".questionactivity.UploadQuestionActivity"
            android:exported="false"
            android:parentActivityName=".questionactivity.ExamQuestionActivity" />
        <activity
            android:name=".syllabusactivity.SyllabusViewActivity"
            android:exported="false"
            android:parentActivityName=".syllabusactivity.ExamSyllabusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".syllabusactivity.UploadPDFActivity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".solvequestionactivity.QuestionSolveActivity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".questionactivity.ExamQuestionActivity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".syllabusactivity.ExamSyllabusActivity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UploadVideoActivity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IncomeExpenseActivity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentPaymentActivity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentAttendenceActivity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TeacherRoutineActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>